<div class="container">
    <div class="row">
         <!-- <div class="container" [ngStyle]="{width: '30em'}">
         <div>
            <div class="form-outline mb-4">
              <input type="text" id="form1Example1" class="form-control" placeholder="Title" [(ngModel)]="title" />
            </div>
          
            <div class="form-outline mb-4">
              <textarea type="text" id="form1Example2" class="form-control" placeholder="Description" [(ngModel)]="description" (keyup)="autogrow()" [ngStyle]="{minHeight: '100px', maxHeight: '400px'}"></textarea>
            </div>
          
            <button (click)="addNote()" [disabled]="!(title.length>0)" class="btn btn-block" [ngStyle]="{backgroundColor: '#808080', color: 'whitesmoke'}">Add</button>
          </div>
          <br>
        </div>  -->
        <hr>
        <div class="col-12" *ngFor="let product of this.userService.products">
        <app-notecard [product]="product"></app-notecard>
      </div>
    </div>
</div>

