<div>
    <div class="card mb-4" [ngStyle]="{backgroundColor: '#d9d9d9'}">
        <div class="card-body"  class="card-deck" [ngStyle]="{height: '15em', padding: '1em'}">
        <h4 class="card-title">{{note.title}}</h4>
        <p class="card-text">{{note.description.substr(0,200)+"..."}}</p>
        <div class="d-flex justify-content-between">
        <button class="btn" [ngStyle]="{backgroundColor: '#666666', color: 'whitesmoke'}" (click)="openModal()">Edit</button>
        <button class="btn" [ngStyle]="{backgroundColor: '#666666', color: 'whitesmoke'}" (click)="deleteNote(note.key)">Delete</button>
        </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button> -->
  
<app-modal *ngIf="this.userService.edit"></app-modal>
  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="editTitle">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label" >Description:</label>
              <textarea class="form-control" id="message-text" [(ngModel)]="editDesc" [ngStyle]="{height: editDesc.length/2+'px', maxHeight: '400px'}"></textarea>
            </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="button" class="btn">Save Note</button>
        </div>
      </div>
    </div>
  </div> -->