<nav class="navbar navbar-light" [ngStyle]="{backgroundColor: '#55B4B0', color: 'white'}">
  <a class="navbar-brand" [ngStyle]="{marginLeft: '1em', color: 'whitesmoke'}" [routerLink]="['/home']">
    <p *ngIf="this.userService.user"><span [ngStyle]="{color: 'black'}">{{"Hi "}}</span>{{this.userService.user.firstName}}</p>
    <p *ngIf="!this.userService.user">E-Commerce</p>
  </a>
  <div class="justify-content-end">
    <button class="btn btn-warning" [ngStyle]="{marginRight: '1.5em'}" (click)="gotoPayment()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
      <span class="badge">{{this.userService.cart.length===0?null:this.userService.cart.length}}</span>
    </button>
    <button *ngIf="this.userService.user" class="btn" [ngStyle]="{marginRight: '1.5em', backgroundColor: '#4d4d4d', color: 'whitesmoke'}" (click)="this.userService.signOut()">Sign Out</button>
  </div>
</nav>