<br>
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                </div>
            </div>    
            <div class="row border-top border-bottom" *ngFor="let item of cartArray">
                <div class="row main align-items-center">
                    <!-- <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div> -->
                    <div class="col">
                        <!-- <div class="row text-muted">{{item[1].product.style}}</div> -->
                        <div class="row">{{item[1].product.title}}</div>
                    </div>
                    <div class="col" [ngStyle]="{marginLeft: '30px'}">
                        <div class="row">{{item[1].sizeSelected}}</div>
                    </div>
                    <div class="col" [ngStyle]="{marginLeft: '-40px'}">
                        <a (click)="incdec('-', item[0])" [ngStyle]="item[1].total==1 && {pointerEvents: 'none'}">-</a><a class="border">{{item[1].total}}</a><a (click)="incdec('+', item[0])">+</a>
                    </div>
                    <div class="col">{{item[1].product.currencyFormat+" "+item[1].product.price}}<span class="close"></span></div>
                    <div class="col">
                        <svg (click)="deleteItem(item[0])" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="back-to-shop"><a [routerLink]="['/home']">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">{{"ITEMS "+this.userService.cartTotal}}</div>
                <div class="col text-right">&dollar; {{total}}</div>
            </div>
            <form>
                <p>SHIPPING</p>
                <select><option class="text-muted" *ngIf="!freeShipping">Standard-Delivery- &dollar;5.00</option>
                    <option class="text-muted" *ngIf="freeShipping">Free-Delivery</option>
                </select>
                <p>GIVE CODE</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right" *ngIf="freeShipping">&dollar; {{total}}</div>
                <div class="col text-right" *ngIf="!freeShipping">&dollar; {{total+5}}</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>
    
</div>